/*-------main styles---------*/
*{
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans', sans-serif ;
    line-height: 1.5em;
    }
    h1{
        margin-top:0;
        padding-top: 16px;
    }

h1,h2,h3,a {
    color: #000;
}

h3,p{
    font-size: 1em;
}

a {
    text-decoration:none;
    font-weight: bold;
}
.about-me {
    padding: 28px 22px;
}
h3{
  margin-left:20px;
}

.profilepic{
    width:100%;
}
.picresize{
    width: 100%;
}
/*-----------new font style for links----------------------------------------*/
#skills,
.portfolio,
.contact h2 {
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
}

/*------------navigation-----------------------------*/


.main-nav a {
    display: block;
    background-color: #fff;
    margin: 6px 12px;
    padding:6px 0;
}
.main-nav a:hover,
.footer-nav a:hover {
    color: #C2DBDE;
}
.main-nav a:active,
.footer-nav a:active{
    background-color: #DCF5F1;
}


.main-nav,
.footer-nav ul {
    text-transform: uppercase;
    margin-top: 34px;
}


/*-----layout styles----------------------*/

.main-header,
.main-footer {
    background-color: #F7F6F6;
    width: 100%;
    text-align: center;
    
}
.footer-nav{
    border-top : 1px solid lavender;
    margin-top: 40px;
}
.footer-nav li {
    display: none;
}
.footermini h3{
    float: left;
    text-transform: uppercase;
    margin-top:34px;
}
.footermini p {
    text-transform: uppercase;
    float:right;
    margin-top: 34px;
    margin-right:20px;
}
.footermini{
    overflow:hidden;
}
.contact {
    padding: 36px 20px;
}


/*-----main content----------------------*/

main {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.section {
    margin-top: 50px;    
}



/*-----media queries----------------------*/

@media (min-width: 768px){
    
    .main-nav{
        width: 100%;
        margin: 0 auto;
    }
    
    .main-nav li {
        display: inline-block;
        text-align: center;
    
    }
    .main-nav a{
        background-color: transparent;
    }
    .profilepic{
        width: 40%;
        float: right;
        margin-bottom: 40px;
        margin-left: 30px;
    }
    .picresize{
        padding:10px;
    }
    
    .section{
        width: 50%;
        float: left;
    }
    
    .footer-nav p {
        display: none;
    }
    .footer-nav li {
        display: inline-block;

    }
    .footer-nav ul {
        float:right;
        margin-right:20px;
    }
    .footerlist a {
        margin: 6px 12px;

    }
    
    .contact {
        margin: 20px 40px;
    }

/*float clearfix*/
    .clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
}
@media (min-width: 1024px){
        .main-header,
        .main-footer{
            width:100%;
            max-width:1440px
        }
        .main-header .name{
            float:left;
            margin-left:20px;
        }
        
        .main-nav ul{
             float:right;
             xmargin-top: 34px;
             margin-right:20px;
        }
        
        .section {
            width: 30%;
            margin: 15px;
        }
        #skills{
            margin-top: 50px;
        }
        
    /*float clearfix*/
    .clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}    
}